<a href="https://colab.research.google.com/github/KashfiaJashim/CSE-310/blob/master/A2_CT_2_10101046.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ans No 1

In [ ]:
n = int(input())
if n%2==0:
  print("Even")
else:
  print("Odd")

145
Odd

Ans No 2

In [ ]:
n = float(input())
if n>=80 and n<=100:
  print("A+")
elif n>=70 and n<=79:
  print("A")
elif n>=60 and n<=69:
  print("A-")
elif n>=50 and n<=59:
  print("B")
elif n>=40 and n<=49:
  print("C")
elif n>=33 and n<=39:
  print("D")
else:
  print("F")

20
F

Ans No 3

In [ ]:

st = str(input("Enter the string: "))
st1 = st[ : 3]
st2 = st[3 : 6]
st3 = st[6 : 9]
st4 = st[9 : 12]

l = st4 + st2 + st3 + st1
l

Enter the string: 1234567890AB

'0AB456789123'

Ans No 4

In [ ]:
Students = {
    1 : {
        "ID" : "1",
        "First Name" : "Peter",
        "Last Name" : "Lee",
        "Email" : "plee@university.edu",
        "Year of Birth" : "1992"
        },

    2 : {
        "ID" : "2",
        "First Name" : "Jonathan",
        "last Name" : "Edwards",
        "Email" : "jedwards@university.edu",
        "Year of Birth" : "1994"
        },

    3 : {
        "ID" : "3",
        "First Name" : "Marilyn",
        "last Name" : "Johnson",
        "Email" : "mjohnson@university.edu",
        "Year of Birth" : "1993"
        },

    6 : {
        "ID" : "6",
        "First Name" : "Joe",
        "last Name" : "Kim",
        "Email" : "jkim@university.edu",
        "Year of Birth" : "1992"
        },

    12 : {
        "ID" : "12",
        "First Name" : "Haley",
        "last Name" : "Martinez",
        "Email" : "hmartinez@university.edu",
        "Year of Birth" : "1993"
        }
}
id = int(input("Enter the student id: "))
Students[id]

Enter the student id: 6

{'Email': 'jkim@university.edu',
 'First Name': 'Joe',
 'ID': '6',
 'Year of Birth': '1992',
 'last Name': 'Kim'}